{% extends 'base.html' %}

{% block content %}
<div class='container-fluid my-5'>
    <div class='row'>
        <div class='col-5'>
            <img class="card-img-top" src="{{ url_for('static', filename='auction_images/' + auction.auction_image) }}" alt="Card image cap">
        </div>
        <div class='col-7'>
            <h2 class='d-flex'>{{ auction.name }} <p>{{ auction.country }}</p></h2>
            <small>{{ auction.category }}</small>
            <p>{{ auction.description }}</p>
            <h3>Minimum price: {{ auction.min_price }} €</h3>
            <h3>Current offer: <span id='currentOffer'></span> (€)</h3>
            {% if current_user.id and current_user.id != auction.user_id %}
            <div id="submitAmountArea" style="background-color: #eee">
                <h4>Bid</h4>
                <div class='form-group' style="width: 250px">
                    <label for="bidInput">Amount</label>
                    <input type="number" class="form-control" id="bidInput" value="">
                    <p id="inputError" class='text-danger d-none'>Your bid must be more than <span id='errorMinOffer'></span></p>
                    <button type='submit' id='bidBtn'>Submit</button>
                </div>
            </div>
            {% endif %}
            <h3>Auction ends on {{ auction.end_day }} at {{ auction.end_time }}</h3>
            <h4>Time left : <span id='timer'>00:00</span></h4>
            <p>Viewed {{ auction.views }} times</p>
            <p>Author: {{ author.username }}</p>
        </div>
        {% if current_user.id == auction.user_id %}
            <a href="#" class='btn btn-primary'>Edit</a>
        {% endif %}
    </div>
    
</div>

{% endblock %}

{% block scripts %}
    <script>

        let socket = io.connect('http://127.0.0.1:5000');
        let currentOffer = "{{ maxOffer }}";

        const elCurrentOffer = document.getElementById('currentOffer');
        elCurrentOffer.textContent = currentOffer;

        {% if current_user.id and auction.user_id != current_user.id %}
            const bidInput = document.getElementById('bidInput');
            const bidBtn = document.getElementById('bidBtn');
            const elErrorMinOffer = document.getElementById('errorMinOffer');
            elErrorMinOffer.textContent = currentOffer;

            bidBtn.addEventListener('click', (e) => {
                e.preventDefault();
                socket.emit('bid', bidInput.value, currentOffer, {{auction.id}}, {{current_user.id}});
                bidInput.value = '';
            });

        {% endif %}

        //When receives 'bid' event
        socket.on('bid_result', bid => {
            console.log("Naujas bid:");
            console.log(bid);
            {% if current_user.id and auction.user_id != current_user.id %}
            if(bid.error) {
                document.getElementById('inputError').classList.replace('d-none', 'd-block');
            }
            {% endif %}
            if (bid.bid) {
                currentOffer = bid.bid;
                elCurrentOffer.textContent = currentOffer;
                {% if current_user.id and auction.user_id != current_user.id %}
                document.getElementById('inputError').classList.replace('d-block', 'd-none');
                elErrorMinOffer.textContent = currentOffer;
                {% endif %}
            }
        });

        socket.on("auction_finish_result", result => {
            if(!result.error) {
                if(result.maxOffer) {
                    document.getElementById('timer').textContent = "Auction is finished. Winner is: " + result.user;

                } else {
                    document.getElementById('timer').textContent = "Auction is finished. No one bidded.";
                }
            } else {
                document.getElementById('timer').textContent = "Error occurred. Try again later";
            }
        });


        

        let end_day = {{ auction.end_day|tojson }};
        let end_time = "{{ auction.end_time }}";
        let time = end_time.split(':');
        const miliseconds = Number(time[0]) * 60 * 60 * 1000 + Number(time[1]) * 60 * 1000 + Number(time[2]) * 1000 - 3 * 60 * 60 * 1000;

        let countdown = setInterval(() => {
            let now = new Date();
            console.log("COUNTDOWN");
            let distance = moment(new Date(end_day)).add(miliseconds, 'ms').toDate() - now;
            if(distance <= 0) {
                clearInterval(countdown);
                socket.emit("auction_finished", {{auction.id}})
                {% if current_user.id != auction.user_id %}
                document.getElementById("submitAmountArea").classList.add("d-none");
                {% endif %}
            } else {
                let hours = distance / 3600000;
                let minutes = distance / 1000 / 60 % 60;
                let seconds = distance / 1000 % 60;
                document.getElementById('timer').textContent = Math.floor(hours) + ":" + Math.floor(minutes) + ':' + Math.floor(seconds) + " (h:m:s)";
            }
        }, 1000)
    </script>
{% endblock %}