{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div>
                        <form method='POST' class="form-inline">
                        {{ form.hidden_tag() }}
                        {{ form.category(class='custom-select', style="flex-grow: 1") }}
                        {{ form.submit(class='btn btn-primary') }}                         
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div class='row justify-content-start'>
            {% for auction in auctions.items %}
            <div class='col-6 col-md-4 col-lg-3 mb-3'>
                <a href="{{ url_for('auctions.auction', id=auction.id) }}">
                <div class="card" style="width: 17rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='auction_images/' + auction.auction_image) }}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{ auction.name }}</h5>
                      <p class="card-text">{{ auction.description }}</p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% for page_num in auctions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if auctions.page == page_num %}
                        <li class='page-item disabled'>
                            <a class='page-link' href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class='page-item'>
                            <a class='page-link' href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}